In [1]:
Print("hello")

NameError: name 'Print' is not defined

In [ ]:
print("Hello");

In [21]:
a = 104.000
type(a)
b = 30
c = a + b
print(c);

134.0

In [24]:
# control + enter to run the kernel
# control + forward slash - to comment multiple lines at a time
# kjdslfjk
# ksdjfjkjd
# kdsfsdh
'''akdkjfks
jkhkhkhkhk
khkjhkhk
hkhkjhk''';

In [6]:
a = b = c = 1

In [8]:
a,b,c = 1,2,"John"
a
b

2

In [18]:
a = "holiday"
b = "today"
print(a)
print(a[0])
print(a[2:5])
print(a[2:])
print(2*b)
print(a + " holiday")
print(a +" " + b)
print(a +" " + a)
# a[0:2]
a.find('day')
a.replace('day','imonth')
print("I want to declare {} is {}".format(b,a))
print(f"I want to declare {a} - {b}")
a.replace(a[a.find('h')],'M')
#dir(a)
# variable can be deleted using below syntax
#del a
b

holiday
h
lid
liday
todaytoday
holiday holiday
holiday today
holiday holiday
I want to declare today is holiday
I want to declare holiday - today

'today'

In [20]:
list = ['bhavya','priyanka','Anasuya',2]
Tinylist = ['1',2.000,'Practice']
print(list)
print(list[:])
print(list[0:2])
print(list[1:3])
print(list*2)
print(list + Tinylist) 
print(type(list))
list[-2:]
print(dir(list))
list.append('Bhavyabb') # append in the last 
list.pop(2) #will delete that particular index
print(list)

['bhavya', 'priyanka', 'Anasuya', 2]
['bhavya', 'priyanka', 'Anasuya', 2]
['bhavya', 'priyanka']
['priyanka', 'Anasuya']
['bhavya', 'priyanka', 'Anasuya', 2, 'bhavya', 'priyanka', 'Anasuya', 2]
['bhavya', 'priyanka', 'Anasuya', 2, '1', 2.0, 'Practice']
<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['bhavya', 'priyanka', 2, 'Bhavyabb']

In [10]:
list.pop(2)

'Anasuya'

In [19]:
# tuple is read only list, it is denoted in parenthesis as below, we can able to modify or delete the data in tupple
list = ('bhavya','priyanka','Anasuya')
Tinylist = ('1','2.000','Practice')
print(list)
print(list[:])
print(list[0:2])
print(list[1:3])
print(list*2)
print(list + Tinylist) 
print(list[-2:])
dir(list)

('bhavya', 'priyanka', 'Anasuya')
('bhavya', 'priyanka', 'Anasuya')
('bhavya', 'priyanka')
('priyanka', 'Anasuya')
('bhavya', 'priyanka', 'Anasuya', 'bhavya', 'priyanka', 'Anasuya')
('bhavya', 'priyanka', 'Anasuya', '1', '2.000', 'Practice')
('priyanka', 'Anasuya')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [76]:
#dictionary 
list={}
list['one']= "this is the first set"
list[2] = "this second set"
list1 ={'name': 'bhavya','age':16,'city':'bangalore'}
print(list1)
print(list1.keys())
print(list1.values())
print(list['one'])
print(list[2])
print(list)

del list1['age']


list1.pop('city')
list1['education'] = 'Btech'
list1['height'] = 5.6
print(list1.items())

#popitem delete the data from the last
list1.popitem()
print(list1)

#dictionary won't support the duplicate values for the same key, instead it update the value and return the latest value

{'name': 'bhavya', 'age': 16, 'city': 'bangalore'}
dict_keys(['name', 'age', 'city'])
dict_values(['bhavya', 16, 'bangalore'])
this is the first set
this second set
{'one': 'this is the first set', 2: 'this second set'}
dict_items([('name', 'bhavya'), ('education', 'Btech'), ('height', 5.6)])
{'name': 'bhavya', 'education': 'Btech'}

In [35]:
list1.items()

dict_items([('name', 'bhavya'), ('age', 16), ('city', 'bangalore')])

In [100]:
list1['name']=['anasuya','bhavya',2]
list1.items()
print(list1['name'])
list1.items()

['anasuya', 'bhavya', 2]

dict_items([('name', ['anasuya', 'bhavya', 2]), ('age', 16), ('city', 'bangalore')])

In [1]:
    shares ={'appl':100 ,'goog':50}
list(shares)

['appl', 'goog']

TypeError: 'dict' object is not callable

In [88]:
x = [8,2]

print([x for x in range(5)])
print(x)

[0, 1, 2, 3, 4]
[8, 2]

In [ ]:
# day 2    exercises

cricket=['KL Rahul','Sacchin','Virat kohli']

for batsman in cricket:
    print(batsman)
print(cricket[1:3])

for i in range(1,5):
    print(i)
for i,batsman in enumerate(cricket,1):
    print(i,batsman)

In [69]:
cricket=['KL Rahul','Sacchin','Virat kohli','gangully']
cricket2=['Kane williamson','David warner']
# cricket.extend(cricket2)
# print(cricket)
print(cricket*2)


# x = zip(cricket,cricket2)

# #for i in x:
# #    print(i)
    
# print(dict(x))

['KL Rahul', 'Sacchin', 'Virat kohli', 'gangully', 'KL Rahul', 'Sacchin', 'Virat kohli', 'gangully']

In [48]:
# Python statements - back slash is used for continuation 
sample="Hello we will be discussing about on statements" \
        " Multiline, singleline,assignement, print... so on"
print(sample)

sample1 = """this is the first practice session on python
I have to complete so many sessions
here is the list of the sessions """
sample2 =""
print(sample1)
print(len(sample1))

if len(sample1) > 0:
    print("Non empty string")
else:
    print("empty string")
    


if len(sample2) > 0:
    print("Non empty string")
else:
    print("empty string")

Hello we will be discussing about on statements Multiline, singleline,assignement, print... so on
this is the first practice session on python
I have to complete so many sessions
here is the list of the sessions
114
Non empty string
empty string

In [ ]:
#conditional statements
# if<condition>:
#     statements
# else:
#     statements
    
# if<condition>:
#     .......
# elif<condition 2>:
#     .......
# elif<condition 3>:
#     ......
# else:
#     .......

In [ ]:
# exceptional handling

try:
    devbyzero = 5/0  
except ZeroDivisionError as err1:
        print("Hey denominator cannot be zero... please try with non zero")
try:
    multiply = 0/"sandeep"
except ZeroDivisionError as err1:
        print("Hey denominator cannot be zero... please try with non zero")
except Exception as e:
        print(e)
else:
    print("there is no exception")
    print(f"the result is {multiply}")
finally:
    print("this is final block")