In [ ]:
Print("hello")

In [ ]:
print("Hello");

In [ ]:
a = 104.000
type(a)
b = 30
c = a + b
print(c);

In [ ]:
# control + enter to run the kernel
# control + forward slash - to comment multiple lines at a time
# kjdslfjk
# ksdjfjkjd
# kdsfsdh
'''akdkjfks
jkhkhkhkhk
khkjhkhk
hkhkjhk''';

In [ ]:
a = b = c = 1

In [ ]:
a,b,c = 1,2,"John"
a
b

In [ ]:
a = "holiday"
b = "today"
print(a)
print(a[0])
print(a[2:5])
print(a[2:])
print(2*b)
print(a + " holiday")
print(a +" " + b)
print(a +" " + a)
# a[0:2]
a.find('day')
a.replace('day','imonth')
print("I want to declare {} is {}".format(b,a))
print(f"I want to declare {a} - {b}")
a.replace(a[a.find('h')],'M')
#dir(a)
# variable can be deleted using below syntax
#del a
b

In [ ]:
list = ['bhavya','priyanka','Anasuya',2]
Tinylist = ['1',2.000,'Practice']
print(list)
print(list[:])
print(list[0:2])
print(list[1:3])
print(list*2)
print(list + Tinylist) 
print(type(list))
list[-2:]
print(dir(list))
list.append('Bhavyabb') # append in the last 
list.pop(2) #will delete that particular index
print(list)

In [ ]:
list.pop(2)

In [ ]:
# tuple is read only list, it is denoted in parenthesis as below, we can able to modify or delete the data in tupple
list = ('bhavya','priyanka','Anasuya')
Tinylist = ('1','2.000','Practice')
print(list)
print(list[:])
print(list[0:2])
print(list[1:3])
print(list*2)
print(list + Tinylist) 
print(list[-2:])
dir(list)

In [ ]:
#dictionary 
list={}
list['one']= "this is the first set"
list[2] = "this second set"
list1 ={'name': 'bhavya','age':16,'city':'bangalore'}
print(list1)
print(list1.keys())
print(list1.values())
print(list['one'])
print(list[2])
print(list)

del list1['age']


list1.pop('city')
list1['education'] = 'Btech'
list1['height'] = 5.6
print(list1.items())

#popitem delete the data from the last
list1.popitem()
print(list1)

#dictionary won't support the duplicate values for the same key, instead it update the value and return the latest value

In [ ]:
list1.items()

In [ ]:
list1['name']=['anasuya','bhavya',2]
list1.items()
print(list1['name'])
list1.items()

In [ ]:
    shares ={'appl':100 ,'goog':50}
list(shares)

In [ ]:
x = [8,2]

print([x for x in range(5)])
print(x)

In [ ]:
# day 2    exercises

cricket=['KL Rahul','Sacchin','Virat kohli']

for batsman in cricket:
    print(batsman)
print(cricket[1:3])

for i in range(1,5):
    print(i)
for i,batsman in enumerate(cricket,1):
    print(i,batsman)

In [ ]:
cricket=['KL Rahul','Sacchin','Virat kohli','gangully']
cricket2=['Kane williamson','David warner']
# cricket.extend(cricket2)
# print(cricket)
print(cricket*2)


# x = zip(cricket,cricket2)

# #for i in x:
# #    print(i)
    
# print(dict(x))

In [ ]:
# Python statements - back slash is used for continuation 
sample="Hello we will be discussing about on statements" \
        " Multiline, singleline,assignement, print... so on"
print(sample)

sample1 = """this is the first practice session on python
I have to complete so many sessions
here is the list of the sessions """
sample2 =""
print(sample1)
print(len(sample1))

if len(sample1) > 0:
    print("Non empty string")
else:
    print("empty string")
    


if len(sample2) > 0:
    print("Non empty string")
else:
    print("empty string")

In [ ]:
#conditional statements
# if<condition>:
#     statements
# else:
#     statements
    
# if<condition>:
#     .......
# elif<condition 2>:
#     .......
# elif<condition 3>:
#     ......
# else:
#     .......

In [ ]:
# exceptional handling

try:
    devbyzero = 5/0  
except ZeroDivisionError as err1:
        print("Hey denominator cannot be zero... please try with non zero")
try:
    multiply = 0/"sandeep"
except ZeroDivisionError as err1:
        print("Hey denominator cannot be zero... please try with non zero")
except Exception as e:
        print(e)
else:
    print("there is no exception")
    print(f"the result is {multiply}")
finally:
    print("this is final block")

In [1]:
name = 'Sam'
upp_converter = name.upper()
print(upp_converter)

SAM

In [ ]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [7]:
name = 'Sumanth'

for i in range(3):
    print(name)
for i in range(1,5):
    print(i)
    
print(range(7))

for x in range(1,7,2):
    print(x)

Sumanth
Sumanth
Sumanth
1
2
3
4
range(0, 7)
1
3
5

In [16]:
l_5 = list(range(5))
print(l_5)

for i,x in enumerate(l_5,1):
    print(i,x)
# exponential
2**4
# 2/2 output is in float - 1.0
# 2//2 output is not in float - 1

2//2
# module gives remaindeer
5%3

[0, 1, 2, 3, 4]
1 0
2 1
3 2
4 3
5 4

2

In [18]:
for r in range(5):
    print(r)
    print(r*2)
    print()

0
0

1
2

2
4

3
6

4
8

'\ndoddpifopi\n'

In [22]:
var_1 = 'college'
var_1[::2]
var_1[::-1]

'egelloc'

In [5]:
var_2 = 'School'
var_3 = 'PTJB'
for letter in var_3:
    print(letter + var_2[1:])
    print(letter , var_2[1:])
    print()

Pchool
P chool

Tchool
T chool

Jchool
J chool

Bchool
B chool

In [2]:
def Hello():
    print('hello!!!')
Hello()
def Hello(name):
    name = input("enter the name ")
    print('hello ' + name)
Hello('name')

hello!!!
enter the name Sumanth
hello Sumanth

In [8]:
def blank_2():
    print('Sam')
    print('Sam')
def blank4():
    blank_2()
    blank_2()
blank4()

Sam
Sam
Sam
Sam

In [14]:
numbers = [1, 3,5, 7, 6, 4,9,8]

for number in numbers:
    if number % 2 == 0:
        print(number, "is even number")
    else:
        print(number, "is odd number")

6 is even number
4 is even number
8 is even number

In [17]:
numbers = [1, -3,5, -7, 6, -4,9,8]
for number in numbers:
    if number % 2 == 0:
        if number > 0:
            print(number, " is positive even number")
        else:
            print(number, " is negative even number")
    else:
        if number > 0:
            print(number, " is positive odd number")
        else:
            print(number, " is negative odd number")

1  is positive odd number
-3  is negative odd number
5  is positive odd number
-7  is negative odd number
6  is positive even number
-4  is negative even number
9  is positive odd number
8  is positive even number

In [21]:
numbers = [1, -3,5, -7, 6, -4,9,8,0]
for number in numbers:
    if number == 0:
        print(number, "is zero")
    elif number > 0:
        print(number, "is positive number")
    else:
        print(number, "is negative number")

1 is positive number
-3 is negative number
5 is positive number
-7 is negative number
6 is positive number
-4 is negative number
9 is positive number
8 is positive number
0 is zero

In [24]:
def even(x):
    if x % 2 == 0:
        return True
print(even(4))

True

In [27]:
def even(x):
    return x % 2 == 0
       
print(even(5))

False

In [3]:
for row in range(5):
    for column in range(4):
        print(column,end='')
    print()

0123
0123
0123
0123
0123