In [1]:
Print("hello")

NameError: name 'Print' is not defined

In [2]:
print("Hello");

Hello

In [4]:
a = 104.000
type(a)
print(a)
b = 30
c = a + b
print(c);

104.0
134.0

In [6]:
# control + enter to run the kernel
# control + forward slash - to comment multiple lines at a time
# kjdslfjk
# ksdjfjkjd
# kdsfsdh
'''akdkjfks
jkhkhkhkhk
khkjhkhk
hkhkjhk''';

In [9]:
a = b = c = 1

In [12]:
a,b,c = 1,2,"John"
print(a)
print(b)
print(c)

1
2
John

In [2]:
a = "holidayholidayholiday"
b = "today"
print(a)
print(a[0])
print(a[2:5])
print(a[2:])
print(2*b)
print(a + " holiday")
print(a +" " + b)
print(a +" " + a)
# a[0:2]
#a.find('day')
print(a.replace('day',"imonth"))
print("I want to declare {} is {}".format(b,a))
print(f"I want to declare {a} - {b}")
print(a.replace(a[a.find('h')],'M'))
print(a.replace(a[2],'M'))
#dir(a)
# variable can be deleted using below syntax
#del a
b

holidayholidayholiday
h
lid
lidayholidayholiday
todaytoday
holidayholidayholiday holiday
holidayholidayholiday today
holidayholidayholiday holidayholidayholiday
holiimonthholiimonthholiimonth
I want to declare today is holidayholidayholiday
I want to declare holidayholidayholiday - today
MolidayMolidayMoliday
MolidayMolidayMoliday

'today'

In [13]:
list = ['bhavyas','priyanka','Anasuya',2,'bhavyabb']
Tinylist = ['1',2.000,'Practice']
print(list)
print(list[:])
print(list[0:2])
print(list[1:3])
print(list*2)
print(list + Tinylist) 
print(type(list))
print(list[-2:])
print(dir(list))
print(list.append('Bhavyabb')) # append in the last 
list.pop(2) #will delete that particular index
list.remove('bhavyas')
list.insert(9,'bhavya')
list.insert(0,2)
print(list)

['bhavyas', 'priyanka', 'Anasuya', 2, 'bhavyabb']
['bhavyas', 'priyanka', 'Anasuya', 2, 'bhavyabb']
['bhavyas', 'priyanka']
['priyanka', 'Anasuya']
['bhavyas', 'priyanka', 'Anasuya', 2, 'bhavyabb', 'bhavyas', 'priyanka', 'Anasuya', 2, 'bhavyabb']
['bhavyas', 'priyanka', 'Anasuya', 2, 'bhavyabb', '1', 2.0, 'Practice']
<class 'list'>
[2, 'bhavyabb']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
None
[2, 'priyanka', 2, 'bhavyabb', 'Bhavyabb', 'bhavya']

In [ ]:
list.pop(2)

In [5]:
# tuple is read only list, it is denoted in parenthesis as below, we can able to modify or delete the data in tupple
list = ('bhavya','priyanka','Anasuya')
Tinylist = ('1','2.000','Practice')
print(list)
print(list[:])
print(list[0:2])
print(list[1:3])
print(list*2)
print(list + Tinylist) 
print(list[-2:])
dir(list)

('bhavya', 'priyanka', 'Anasuya')
('bhavya', 'priyanka', 'Anasuya')
('bhavya', 'priyanka')
('priyanka', 'Anasuya')
('bhavya', 'priyanka', 'Anasuya', 'bhavya', 'priyanka', 'Anasuya')
('bhavya', 'priyanka', 'Anasuya', '1', '2.000', 'Practice')
('priyanka', 'Anasuya')

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [15]:
#dictionary 
list={}
list['one']= "this is the first set"
list[2] = "this second set"
list1 ={'name': 'bhavya','age':16,'city':'bangalore'}
print(list1)
print(list1.keys())
print(list1.values())
print(list['one'])
print(list[2])
print(list1['name'])
print(list)
print(dir(list))

del list1['age']


list1.pop('city')
list1['education'] = 'Btech'
list1['height'] = 5.6
print(list1.items())

#popitem delete the data from the last
list1.popitem()
print(list1)
dir(list1)

#dictionary won't support the duplicate values for the same key, instead it update the value and return the latest value

{'name': 'bhavya', 'age': 16, 'city': 'bangalore'}
dict_keys(['name', 'age', 'city'])
dict_values(['bhavya', 16, 'bangalore'])
this is the first set
this second set
bhavya
{'one': 'this is the first set', 2: 'this second set'}
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
dict_items([('name', 'bhavya'), ('education', 'Btech'), ('height', 5.6)])
{'name': 'bhavya', 'education': 'Btech'}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [16]:
list1.items()

dict_items([('name', 'bhavya'), ('education', 'Btech')])

In [18]:
list1['name']=['anasuya','bhavya',2]
list1.items()
print(list1['name'])
list1.items()

['anasuya', 'bhavya', 2]

dict_items([('name', ['anasuya', 'bhavya', 2]), ('education', 'Btech')])

In [1]:
    shares ={'appl':100 ,'goog':50}
    list(shares)

['appl', 'goog']

In [2]:
x = [8,2]

print([x for x in range(5)])
print(x)

[0, 1, 2, 3, 4]
[8, 2]

In [5]:
# day 2    exercises

cricket=['KL Rahul','Sacchin','Virat kohli']

for batsman in cricket:
    print(batsman)
print(cricket[1:3])

print([i for i in range(1,5)])
    
for i,batsman in enumerate(cricket,1):
    print(i,batsman)

KL Rahul
Sacchin
Virat kohli
['Sacchin', 'Virat kohli']
[1, 2, 3, 4]
1 KL Rahul
2 Sacchin
3 Virat kohli

In [18]:
cricket=['KL Rahul','Sacchin','Virat kohli','gangully']
cricket2=['Kane williamson','David warner']
print(cricket , cricket2)
print(cricket + cricket2)
cricket.extend(cricket2)
print(cricket)
#print(cricket*2)


x = zip(cricket,cricket2)

for i in x:
    print(i)
print(cricket)
    
# print(dict(x))

['KL Rahul', 'Sacchin', 'Virat kohli', 'gangully'] ['Kane williamson', 'David warner']
['KL Rahul', 'Sacchin', 'Virat kohli', 'gangully', 'Kane williamson', 'David warner']
['KL Rahul', 'Sacchin', 'Virat kohli', 'gangully', 'Kane williamson', 'David warner']
('KL Rahul', 'Kane williamson')
('Sacchin', 'David warner')
['KL Rahul', 'Sacchin', 'Virat kohli', 'gangully', 'Kane williamson', 'David warner']

In [37]:
# Python statements - back slash is used for continuation 
sample="Hello we will be discussing about on statements" \
        " Multiline, singleline,assignement, print... so on"
print(sample)

sample1 = """this is the first practice session on python
I have to complete so many sessions
here is the list of the sessions """
sample2 =""
print(sample1)
print(len(sample1))

if len(sample1) > 0:
    print("Non empty string")
else:
    print("empty string")
    


if len(sample2) > 0:
    print("Non empty string")
else:
    print("empty string")
 

sample3 = "this is the first practice session on python"
            "I have to complete so many sessions"
            "here is the list of the sessions"
print(sample3)

IndentationError: unexpected indent (1324262634.py, line 27)

In [ ]:
#conditional statements
# if<condition>:
#     statements
# else:
#     statements
    
# if<condition>:
#     .......
# elif<condition 2>:
#     .......
# elif<condition 3>:
#     ......
# else:
#     .......

In [46]:
# exceptional handling

try:
    devbyzero = 5/0  
except ZeroDivisionError as err1:
        print("Hey denominator cannot be zero... please try with non zero")
try:
    multiply = 0/"2"
except ZeroDivisionError as err1:
        print("Hey denominator cannot be zero... please try with non zero")
except Exception as e:
        print(e)
else:
    print("there is no exception")
    print(f"the result is {multiply}")
finally:
    print("this is final block")

Hey denominator cannot be zero... please try with non zero
unsupported operand type(s) for /: 'int' and 'str'
this is final block

In [49]:
# try:
#     devbyzero = 5/0
# except ZeroDivisionError  as e:
#     print("Denonminator cannot be zero")
    
try:
    multiply = 0/2
except TypeError as error1:
    print("dont use the string in both numerator and denominator")
else:
    print(f"the result is {multiply}")
    
#except

the result is 0.0

In [1]:
name = 'Sam'
upp_converter = name.upper()
print(upp_converter)

SAM

In [ ]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [51]:
name = 'Sumanth'

for i in range(3):
    print(i)
    print(name)
for i in range(1,5):
    print(i)
    
print(range(7))

for x in range(1,7,2):
    print(x)

0
Sumanth
1
Sumanth
2
Sumanth
1
2
3
4
range(0, 7)
1
3
5

In [5]:
l_5 = list(range(1,5))
print(l_5)

for i,x in enumerate(l_5,1):
    print(i,x)
# exponential
2**4
# 2/2 output is in float - 1.0
# 2//2 output is not in float - 1

2//2
# module gives remaindeer
5%3

[1, 2, 3, 4]
1 1
2 2
3 3
4 4

2

In [18]:
for r in range(5):
    print(r)
    print(r*2)
    print()

0
0

1
2

2
4

3
6

4
8

'\ndoddpifopi\n'

In [8]:
var_1 = 'college'
print(var_1[::2])
print(var_1[::-3])

clee
elc

In [5]:
var_2 = 'School'
var_3 = 'PTJB'
for letter in var_3:
    print(letter + var_2[1:])
    print(letter , var_2[1:])
    print()

Pchool
P chool

Tchool
T chool

Jchool
J chool

Bchool
B chool

In [10]:
def Hello():
    print('hello!!!')
Hello()
def Hello(name):
    name = input("enter the name ")
    print('hello' , name)
Hello('name')

hello!!!
enter the name bhavya
hello bhavya

In [8]:
def blank_2():
    print('Sam')
    print('Sam')
def blank4():
    blank_2()
    blank_2()
blank4()

Sam
Sam
Sam
Sam

In [17]:
numbers = [1, 3,5, 7, 6, 4,9,8]

for number in numbers:
    if number % 2 == 0:
        print(number, "is even number")
    else:
        print(number, "is odd number")

1 is odd number
3 is odd number
5 is odd number
7 is odd number
6 is even number
4 is even number
9 is odd number
8 is even number

In [17]:
numbers = [1, -3,5, -7, 6, -4,9,8]
for number in numbers:
    if number % 2 == 0:
        if number > 0:
            print(number, " is positive even number")
        else:
            print(number, " is negative even number")
    else:
        if number > 0:
            print(number, " is positive odd number")
        else:
            print(number, " is negative odd number")

1  is positive odd number
-3  is negative odd number
5  is positive odd number
-7  is negative odd number
6  is positive even number
-4  is negative even number
9  is positive odd number
8  is positive even number

In [21]:
numbers = [1, -3,5, -7, 6, -4,9,8,0]
for number in numbers:
    if number == 0:
        print(number, "is zero")
    elif number > 0:
        print(number, "is positive number")
    else:
        print(number, "is negative number")

1 is positive number
-3 is negative number
5 is positive number
-7 is negative number
6 is positive number
-4 is negative number
9 is positive number
8 is positive number
0 is zero

In [22]:
def even(x):
    if x % 2 == 0:
        return True
    else:
        return False
even(4)
print(even(5))
print(even(4))

True

In [24]:
def even(x):
    return x % 2 == 0

even(5)
print(even(5))
print(even(4))

False
True

In [25]:
# for row in range(5):
#     for column in range(4):
#         print(column,end='')
#     print()
for x in range(4):
        print(x,end='')
# print()

0123

In [26]:
var_1 = "bhavya priyanka anasuya manvitha"
print(var_1.split(" "))
print(var_1,sep='<')
print(1,2,3,sep='\n')
print(1,2,3,sep='<')
print(1,2,3)
print("bhavya")

['bhavya', 'priyanka', 'anasuya', 'manvitha']
bhavya priyanka anasuya manvitha
1
2
3
1<2<3
1 2 3
bhavya

In [13]:
#List excersise, questuion 1
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    if len(L) < 2:
        return None
    return L[1] 
    print(L)
select_second([7,2])

# question 2

def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """
    return teams[-1][1]
losing_team_captain([['sachin','tendulkar','gangully'],['kohli','ravinder','klrahul'],['williamson','panth','bumrah']])

# question 3
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    
    >>> r = ["Mario", "Bowser", "Luigi"]
    >>> purple_shell(r)
    >>> r
    ["Luigi", "Bowser", "Mario"]
    """
    temp = racers[0]
    racers[0] = racers[-1]
    racers[-1] = temp   
    print(racers)
   
purple_shell(["mario","Bowser","Luigi"])

['Luigi', 'Bowser', 'mario']

In [16]:
# question 5 list practice
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    order = arrivals.index(name)
    return order >= len(arrivals) / 2 and order != len(arrivals) -1
fashionably_late(['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford'],'Ford')

False

In [17]:
#loops course
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    
    print(planet, end = ',')# print all on same line

for planet in planets:
   
    print(planet)
for planet in planets:
    print(planet, end = '')

multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
    print(product)
    
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
# print(s.upper())
for char in s:
    if char.islower():
     print(char, end='')    
print("this is the end")

i = 7
while i < 10:
    print('my work is i =', i)
    i += 1

squares = [n**2 for n in range(0,10,2)]
print(squares, end = ' ')
print('ok')
short_planets = [planet for planet in planets if len(planet) < 6]
print(short_planets)

loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
print(loud_short_planets)
print([32 for planet in planets])

def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
# both commented code and below code gives the same output
#     n_negative = 0
#     for num in nums:
#         if num < 0:
#             n_negative = n_negative + 1
#     return n_negative

# or 
#   return len([num for num in nums if num < 0])
# or 
    return sum([num < 0 for num in nums])
count_negatives([5, -1, -2, 0, 3])

Mercury,Venus,Earth,Mars,Jupiter,Saturn,Uranus,Neptune,Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune
MercuryVenusEarthMarsJupiterSaturnUranusNeptune2
4
8
24
72
360
steganograpyisthepracticofconceaingafilemessageimageorvideowithinanotherfiemessageimagervideothis is the end
my work is i = 7
my work is i = 8
my work is i = 9
[0, 4, 16, 36, 64] ok
['Venus', 'Earth', 'Mars']
['VENUS!', 'EARTH!', 'MARS!']
[32, 32, 32, 32, 32, 32, 32, 32]

2